.custom-margin1{
    margin-left: 18em;
}

.custom-margin2{
    margin-bottom: 10em;
}

.custom-margin3{
    margin-top: 2em;
    margin-left: 37em;
}

.custom-margin4 {
    margin-left: 20em;
}

.custom-margin5{
    margin-left: 6em;
}
.custom-fontSize1{
    font-size: 4rem;
}

.custom-fontSize2{
    font-size: 2rem;
}

.custom-fontColor1{
    color: #f39c12;
}
